.Stripe-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* min-width: 350px; */
 height: 300px;
 width: 300px;
 position: absolute;
 left: 450px;
 top: 120px;
   padding-bottom: 50px;
   border: none;
   box-shadow: 0 10px 30px 0 #C7CBDC;
  }

  .sc {
   margin-top: 35px;
  }

  .currencyinput {
    width: 120px;
    height: 25px;
    border-radius: 8px;
    font-size: 15px;
    padding-left: 5px;
  
}
.currencyinput:focus {
  outline: none;
}

.Exit-button{
  height: 20px;
  position: absolute;
  top: 20px;
  right: 25px;
}
.Exit-button:focus {
  outline: none;
}
