/* *{
    border: 0.1px solid red;
    margin: 0;
    padding: 0;
} */

.Adventures{
  /* background: url('background4.jpg'); */
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.Adventures_body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
}

.Adventures_box{
     /* background: url('adventures.png'); */
  flex-direction: column;
  min-width: 300px;
  min-height: 200px;
  margin-top: 40px;
 margin-left: 20px;
 margin-bottom: 15px;
 width: 0px;
 padding: 10px 20px 40px 20px;
 border: 2px solid black;
 font-weight: bold;
 box-shadow: 0 5px 30px 0 black;
}
.button-adv {
  padding: 15px 15px;
  background-color: #0000;
  color: black;
  /* font-weight: bold; */
  border: none;
  /* border-radius: 12px; */
  border: 1px solid black;
  font-family: 'Lato';
  font-size: 16px;
  -webkit-transition-duration: 0.8s; 
  transition-duration: 0.8s;
  position: absolute;
  top: 15px;
  left: 600px;
  font-weight: bold;
  }
  
  .button-adv:focus {
    outline: none;
  }

  .button-adv:hover{
    background-color: black; 
    color: white;
    font-weight: bold;
  }
  
.Delete-button{
  height: 20px;
  width: 25px;
 

}
.Modal-delete-button:focus {
  outline: none;
}

.Modal-delete-button{
  /* margin-right: 0px; */
    background: #0000;
  border: none;
  cursor: pointer;
}
