
.Adventures{
  /* background: url('background4.jpg'); */
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.Adventures_body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
}

.Adventures_box{
     /* background: url('adventures.png'); */
  flex-direction: column;
  min-width: 300px;
  height: 250px;
  margin-top: 40px;
 margin-left: 20px;
 margin-bottom: 15px;
 width: 0px;
 padding: 10px 20px 40px 20px;
 border: 2px solid black;
 font-weight: bold;
 overflow: auto;
 box-shadow: 0 5px 10px 0 black;
}
.button-adv {
  padding: 15px 15px;
  background-color: #0000;
  color: black;
  /* font-weight: bold; */
  border: none;
  /* border-radius: 12px; */
  border: 1px solid black;
  font-family: 'Lato';
  font-size: 16px;
  -webkit-transition-duration: 0.8s; 
  transition-duration: 0.8s;
  position: absolute;
  top: 15px;
  left: 600px;
  font-weight: bold;
  }
  
  .button-adv:focus {
    outline: none;
  }

  .button-adv:hover{
    background-color: black; 
    color: white;
    font-weight: bold;
  }
  
.Delete-button{
  height: 20px;
  width: 25px;
   

}
.Edit-button{
  height: 20px;
  width: 25px;
   

}
.Modal-delete-button:focus {
  outline: none;
}

.Modal-delete-button{
  /* margin-right: 0px; */
    background: #0000;
  border: none;
  cursor: pointer;
}

.pers-btn {
  width: 130px;
  height: 39px;
  border-radius: 5px;
  background: white;
  font-weight: bold;
  font-size: 13px;
  font-family: 'Overlock';
  border-color: black;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.pers-btn:focus {
  outline: none;
}

.pers-btn:hover:enabled{
  background-color: black; 
  color: white;
  font-weight: bold;
}

.pers-btn:disabled {
  background: #dddddd;
 }

.all-btn {
  width: 130px;
  height: 39px;
  border-radius: 5px;
  color: black;
  background: rgb(189, 243, 250);
  font-weight: bold;
  border-color: black;
  font-size: 13px;
  font-family: 'Overlock';
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  margin: 15px;
}

.all-btn:focus {
  outline: none;
}
.all-btn:disabled {
 background: #dddddd;
}

.all-btn:hover:enabled{
  background-color: black; 
  color: white;
  font-weight: bold;

}


