
.Private{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-color: lightblue;
}

.button-markers {
  padding: 15px 15px;
  background-color: #0000;
  color: black;
  /* font-weight: bold; */
  border: none;
  /* border-radius: 12px; */
  border: 1px solid black;
  font-family: 'Lato';
  font-size: 16px;
  -webkit-transition-duration: 0.8s; 
  transition-duration: 0.8s;
  position: absolute;
  top: 15px;
  left: 600px;
  font-weight: bold;
  }
  
  .button-markers:focus {
    outline: none;
  }

  .button-markers:hover{
    background-color: black; 
    color: white;
    font-weight: bold;
  }
