
.inputModal1 {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    position: absolute;
    top: 185px;
    right: 290px;
    padding-left: 5px;
  }

.Location_title{
    width: 100px;
    height: 40px;
    position: absolute;
    top: 190px;
    left: 215px;
    /* border: 1px solid red ; */

}
  
.button-modal1 {
    margin-top: 15px;
    width: 120px;
    height: 30px;
    border-radius: 12px;
    background: #658ca8;
    font-size: 15px;
    border: 1px solid black;
    /* font-family: 'Overlock', cursive; */
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    position: absolute;
    top: 172px;
    right: 150px;
  }
  
  .button-modal1:focus {
    outline: none;
  }

  .button-modal1:hover{
    background-color: black; 
    color: white;
    font-weight: bold;
  }