@import url('https://fonts.googleapis.com/css?family=Overlock');
.modal{
    width: 800px;
    height: 600px;
    position: absolute;
    left: 245px;
    top: 130px;
    border-radius: 12px;
    /* background: rgb(3, 182, 122); */
    background: rgb(6, 178, 184);
    transition: all 1s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal-hidden {
    position: absolute;
    left: 50px;
    top: 100px;
    opacity: 0;
    width: 0;
    height: 0;
    transition: all 0.7s;
}
.head{
    /* background-color: #0005; */
    line-height: 80px;
    color: white;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 30px;
}
.Modal_list{
    margin: 0px -14px;
    position: absolute;
    top: 82px;
    left: 10px;
}

.Modal_list_item{
    padding-top: 30px;
    padding-bottom: 30px;
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
}
.Modal_list_item:hover{
    background-color: black;
    cursor: pointer;
}
.Modal_name{
    text-decoration: none;
    color: white;
    /* border: 1px solid yellow; */
    padding: 25px;
    margin: 11.1px;
}
.line{
    margin: 78px 10px;
}


.Back_button{
    height: 40px;
    width: 45px;
}
.Modal_close_button:focus {
    outline: none;
  }

.Modal_close_button{
      position: absolute;
      left: 15px;
      top: 22px;
      background: rgb(6, 178, 184);
    border: none;
  }
