.modal{
    width: 800px;
    height: 600px;
    margin: 200px;
    position: absolute;
    left: 50px;
    top: 100px;
    margin-top: -35px;
    background: rgb(3, 182, 122);
    transition: all 1s;
}

.modal-hidden {
    position: absolute;
    left: 50px;
    top: 100px;
    opacity: 0;
    width: 0;
    height: 0;
    transition: all 1s;
}
.head{
    background-color: #0005;
    line-height: 80px;
    color: white;
    border: 1px solid black;
}

.Modal_list_item{
   
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
}
.Modal_list_item:hover{
    background-color: black;
    cursor: pointer;
}

.Modal_name{
    text-decoration: none;
    color: white;
    /* border: 1px solid yellow; */
    padding: 25px;
    margin: 11.1px;
}
.line{
    margin: 0 10px;
}
.line1{
    margin: 0px 6px;
    padding-right: 585px;
    
}
.line1hr{
    border-color: red;
}

.line2{
    margin: 0px 10px;
    padding-right: 474px;
}
.line2hr{
    border-color: red;
}
.line3{
    margin: 0px 10px;
    padding-right: 347px;
}
.line3hr{
    border-color: red;
}
.line4{
    margin: 0px 10px;
    padding-right: 214px;
}
.line4hr{
    border-color: red;
}
.line5{
    margin: 0px 10px;
    
}
.line5hr{
    border-color: red;
}
.input3{
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    margin-top: 50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
