.modal{
    width: 800px;
    height: 600px;
    position: absolute;
    left: 245px;
    top: 80px;
    border-radius: 12px;
    background:#48b19b;
    /* background: rgb(6, 178, 184); */
    transition: all 1s;
    font-family: 'Abel';
    font-size: 20px;
    font-weight: bold;

}


.modal-hidden {
    position: absolute;
    left: 650px;
    top: -500px;
    opacity: 0;
    width: 0;
    height: 0;
    transition: all 1s;
    
}
.head{
    /* background-color: #0005; */
    line-height: 80px;
    color: white;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 30px;
    font-family: 'Abel';
}
.Modal_list{
    margin: 0px -14px;
    position: absolute;
    top: 82px;
    left: 20px;
}

.Modal_list_item{
padding: 30px 45px;
    list-style-type: none;
    display: inline-block;
    /* display: flex; */
   
}
.Modal_list_item:hover{
    background-color: black;
    cursor: pointer;
    color: white;
    transition: 0.8s all;
}

.line{
    margin: 85px 10px;
}


.Back_button{
    height: 40px;
    width: 45px;
  
}
.Modal_close_button:focus {
    outline: none;
  }

.Modal_close_button{
      position: absolute;
      left: 15px;
      top: 22px;
      background:#0000;
    border: none;
    cursor: pointer;
  }

