@import url('https://fonts.googleapis.com/css?family=Overlock');
.Home{
    background: url('background3.JPG');
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.Home-open{
    background: url('background3.JPG');
    width: 100%;
    height: 100vh;
    background-size: cover;
    -webkit-filter: blur(3px);
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
}
.Home_logo{
    width: 350px;
    height: 420px;
    position: absolute;
    top: 10px;
    right: 470px;

}

.btnadd{
    padding: 15px 15px;
    background-color: #0001;
    color: black;
    font-weight: bold;
    border: none;
    /* border-radius: 12px; */
    border: 2px solid black;
    font-family: 'Abel';
    font-size: 19px;
    -webkit-transition-duration: 0.8s; 
    transition-duration: 0.8s;
    position: absolute;
    top: 360px;
    right: 555px;
    
}

.btnadd:hover{
    background-color: #2d404e; 
    color: white;
    border: 2px solid black;
}


.button-box{
    position: center;
   margin-top: -75px;
}

.avatar{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 25px;
    right: 145px;
}
.Home_title{
    position: absolute;
    top: 220px;
    right: 450px;
    width: 380px;    
}
