@import url('https://fonts.googleapis.com/css?family=Overlock');
.Home{
    background: url('background3.JPG');
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.Home-open{
    background: url('background3.JPG');
    width: 100%;
    height: 100vh;
    background-size: cover;
    -webkit-filter: blur(1px);
    -ms-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
    opacity: 0.5;
}
.Home_logo{
    width: 350px;
    height: 420px;
    position: absolute;
    top: 10px;
    right: 470px;

}

.btnadd{
    padding: 15px 15px;
    background-color: #0000;
    color: black;
    /* font-weight: bold; */
    border: none;
    /* border-radius: 12px; */
    border: 1px solid black;
    font-family: 'Lato';
    font-size: 16px;
    -webkit-transition-duration: 0.8s; 
    transition-duration: 0.8s;
    position: absolute;
    top: 360px;
    right: 545px;
    
}

.btnadd:hover{
    background-color: #2d404e; 
    color: white;
    border: 1px solid black;
}


.button-box{
    position: center;
   margin-top: -75px;
}

.avatar{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 25px;
    right: 145px;
}
.Home_title{
    position: absolute;
    top: 220px;
    right: 450px;
    width: 380px;    
}

.Donation-button{
    height: 30px;
    width: 45px;
    position: absolute;
    bottom: 20px;
    right: 15px; 
  }
  .Donation-button:focus {
    outline: none;
  }
 
