@import url('https://fonts.googleapis.com/css?family=Overlock');
.Home{
    background: url('background3.JPG');
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.Home_logo{
    width: 350px;
    height: 400px;
    position: center;
    /* top: 60px;
    right: 470px; */

}

.btnadd{
    padding: 14px 14px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    font-family: 'Overlock', cursive;
    -webkit-transition-duration: 0.8s; 
    transition-duration: 0.8s;
}

.btnadd:hover{
    background-color: black; 
    color: white;
   
}

.button-box{
    position: center;
   margin-top: -60px;
}

.avatar{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 25px;
    right: 145px;
}
.Home_title{
    position: absolute;
    top: 220px;
    right: 450px;
    width: 380px;    
}
