@import url('https://fonts.googleapis.com/css?family=Overlock');

/* Desktop */
.Home-d{
    background-image: url('background3.JPG');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.Home-open-d{
    background-image: url('background3.JPG');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    -webkit-filter: blur(1px);
    -ms-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
    opacity: 0.5;
}
.Home_logo-d{
    width: 330px;
    height: 400px;
    margin: auto;
    margin-top: -40px;
}

.btnadd-d{
    width: 200px;
    height: 50px;
    background-color: #0005;
    color: white;
    font-weight: bold;
    border: none;
    border: 2px solid white;
    font-family: 'Lato';
    font-size: 16px;
    -webkit-transition-duration: 0.8s; 
    transition-duration: 0.4s;
   margin: auto;
   margin-top: -230px;
}

.btnadd-d:hover{
    background-color: black; 
    color: white;
    border: 2 solid white;
    font-weight: bold;
}

/* .button-box-d{
    position: center;
   margin-top: -75px;
} */

/* .Home_title-d{
    position: absolute;
    top: 220px;
    right: 450px;
    width: 380px;    
} */

.Donation-button-d{
    height: 30px;
    width: 45px;
    position: absolute;
    bottom: 20px;
    right: 15px; 
  }
  .Donation-button-d:focus {
    outline: none;
  }

  /* Tablet */
  .Home-t{
    background-image: url('background3.JPG');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.Home-open-t{
    background-image: url('background3.JPG');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    -webkit-filter: blur(1px);
    -ms-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
    opacity: 0.5;
}
.Home_logo-t{
    width: 300px;
    height: 370px;
    margin: auto;
    margin-top: -50px;
}

.btnadd-t{
    width: 200px;
    height: 50px;
    background-color: #0005;
    color: white;
    font-weight: bold;
    border: none;
    border: 1px solid black;
    font-family: 'Lato';
    font-size: 16px;
    -webkit-transition-duration: 0.8s; 
    transition-duration: 0.8s;
    margin: auto;
    margin-top: -250px;
}

.btnadd-t:hover{
    background-color: black; 
    color: white;
    border: 2 solid white;
    font-weight: bold;
}


/* .button-box-t{
    position: center;
   margin-top: -75px;
} */

/* .Home_title-t{
    position: absolute;
    top: 220px;
    right: 450px;
    width: 380px;    
} */

.Donation-button-t{
    height: 30px;
    width: 45px;
    position: absolute;
    bottom: 20px;
    right: 15px; 
  }
  .Donation-button-t:focus {
    outline: none;
  }
 
